<p>viz-crud works!</p>


<!-- Additional Buttons for CRUD operations -->
<!-- Additional Buttons for CRUD operations -->
<!-- Additional Buttons for CRUD operations -->
<button mat-raised-button (click)="crudComponent.createEntity()" >
  Create New: {{ crudComponent.getClassName()}}
</button>

<button mat-raised-button (click)="crudComponent.updateEntity()" >
  Update: {{ crudComponent.getClassName() }}
</button>

<button mat-raised-button (click)="crudComponent.deleteEntity()" >
  Delete: {{ crudComponent.getClassName() }}
</button>

<form
  *ngIf="crudComponent.completed_controls_loading"
  [formGroup]="crudComponent.entityForm"
  (ngSubmit)="crudComponent.onSubmit()"
>
  <p>
    <mat-list>
      <!-- Loop through form controls -->
      <ng-container
        *ngFor="
          let innerKey of crudComponent.objectKeys(
            crudComponent.entityForm.controls
          )
        "
      >
        <ng-container
          *ngTemplateOutlet="
            renderFormField;
            context: {
              key: innerKey,
              control: crudComponent.entityForm.controls[innerKey]
            }
          "
        ></ng-container>
      </ng-container>
    </mat-list>
  </p>
  <div class="example-button-row">
    <button mat-raised-button type="submit">Submit</button>
  </div>
</form>


<!-- Query Entity Section -->
<div class="query-container form-container">
  <button mat-raised-button (click)="crudComponent.getEntity()" class="query-button">
    Find with Id - {{ crudComponent.getClassName() }}
  </button>

  <div *ngIf="crudComponent.queriedEntity" class="queried-entity">
    <pre>{{ crudComponent.queriedEntity | json }}</pre>
  </div>
</div>

<!-- Consult Entities Section -->
<div class="consult-container form-container">
  <button mat-raised-button (click)="crudComponent.getEntities()" class="consult-button">
    Consult entities from - {{ crudComponent.getClassName() }}
  </button>
  <div *ngIf="crudComponent.entities?.length" class="entities-list">
    <ul>
      <li
        *ngFor="let entity of crudComponent.entities"
        (click)="crudComponent.selectEntity(entity)"
        class="entity-item"
      >
        {{ entity | json }}
      </li>
    </ul>
  </div>
</div>



<!-- Recursive Template for Form Fields -->
<ng-template #renderFormField let-key="key" let-control="control">
  <ng-container *ngIf="crudComponent.isGroup(control); else inputField">
    <!-- Recursive FormGroup handling -->
    <!-- Recursive FormGroup handling -->
    <!-- Recursive FormGroup handling -->
    <div [formGroup]="control">
      <h3>Group: {{ key }}</h3>
      <ng-container
        *ngFor="let innerKey of crudComponent.objectKeys(control.controls)"
      >
        <ng-container
          *ngTemplateOutlet="
            renderFormField;
            context: { key: innerKey, control: control.controls[innerKey] }
          "
        ></ng-container>
      </ng-container>
    </div>
  </ng-container>
  <!-- Input Field Template -->
  <!-- Input Field Template -->
  <!-- Input Field Template -->
  <ng-template #inputField>
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>INPUT: {{ key }}<label [for]="key">label</label></mat-label>
        <input
          matInput
          placeholder="placeholder"
          [id]="key"
          [formControl]="control"
          type="text"
          class="form-input"
        />
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Hint</mat-hint>
      </mat-form-field>
    </p>
  </ng-template>
</ng-template>